.settings {
    background: rgb(10,10,10);
    border: 1px solid white;
    padding: .5rem;
    border-radius: 2px;
    display: block;
    position: absolute;
    width: 12rem;
    top: 1rem;
    right: 1rem;
}
.setting {
    margin-bottom: .8rem;
    max-width: 100%;
}
label {
    font-size: .7rem;
    display: block;
    color: white;
    margin-bottom: 0rem;
}